.header {

  padding-top: 23px;
  padding-bottom: 21px;

  &__container  {
    @include flex-all-sb;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: -112px;
  }

  &--main {
  
    color: var(--color-light);
  }
}

