.partners {
  padding-bottom: 152px;
  background-color: #f4f5f7;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }
}

.title {
  margin-bottom: 32px;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  color: var(--color-ebony);
}
