<section class="testimonials">
  <div class="container">
    <div class="testimonials__content">
      <h2 class="title">What our clients are saying</h2>

    </div>
  </div>
  <div class="slider-nav">
    <button class="btn-reser slider-nav__btn slider-btn portfolio-section__prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#left"></use>
      </svg>
    </button>
    <button class="btn-reser slider-nav__btn slider-btn portfolio-section__next">
      <svg class="">
        <use xlink:href="img/sprite.svg#right"></use>
      </svg>
    </button>
  </div>
  <div class="swiper portfolio-section__items">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="../img/portfolio-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn btn btn--stroke">View Project</div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="../img/portfolio-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn btn btn--stroke">View Project</div>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="../img/portfolio-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn btn btn--stroke">View Project</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</section>
